<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/action_page.php">
        <label for="fname">First name:</label><br>
        <input type="text" id="name" name="" ><br>
        <label for="lname">Last name:</label><br>
        <input type="" id="" name="" value="Doe"><br><br>
        <input type="submit">
      </form> 
      
</body>
</html>