<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start-Up</title>
</head>
<body>
    
    <div class="justify-content-center" style="margin-left: 5%; margin-right: 5%;">
    
        <h1>ALL USER</h1>
        
        <table class="table table-striped">
            <thead>
                <tr style="border-bottom: 3px solid black">
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <th scope="row"></th>
                    <td></td>
                    <td></td>

                    <td>
                        <a href="/delete" type="button" class="btn border border-danger" style="color: red;" >
                            Delete
                        </a>
                    </td>
                    
                </tr>
                

            </tbody>
        </table>

    </div>
</body>
</html>